@font-face {
    font-family: Montserrat;
    src: url(https://fonts.google.com/specimen/Montserrat);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

article {
    width: 740px;
    height: 500px;
    background-color: #f0f0f0;
    text-align: center;
}

.default-image {
    max-width: 370px;
    max-height: 100%;
    background-image: url(../images/image-product-desktop.jpg);
}